node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
PANDUAN_MIGRASI_GITHUB.md

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

db_test.mjs
db_test2.mjs
db_test3.mjs
db_test4.mjs
db_test5.mjs
db_test6.mjs
db_test7.mjs
db_test8.mjs